<div class="container">
    <div class="row mt-5">
        <div class="col-md-6 col-sm-12 ">
            <div *ngIf="products">
                <h4 class="header">YOUR ORDER:</h4>
            <table class="table">
                <thead>
                   <th>Product</th>
                <th>Quantity</th>
                <th>Total Price</th> 
                </thead>
                <tbody>
                   <tr *ngFor="let product of products">
                    <td>{{product.pname}}</td>
                    <td>{{product.quantity}}</td>
                    <td>{{product.quantity * product.price |   currency:'EUR':true }}</td>
                </tr> 
                </tbody>
                <tfoot>
                    <tr>
                        <td>
                           <b>Total:</b> 
                        </td>
                        <td>

                        </td>
                        <td>
                           <b>{{total | currency: 'EUR':true }}</b> 
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
        </div>
<div class="col-md-6" *ngIf="address">
  <div class="container address-container">
      <h3 class="header">DELIVERY DETAILS</h3>

<div class="address-content">
    <h5 class="pb-4"> Delivery Address: </h5>
    <p> {{address.fullName}}</p>
    <p> {{address.street}}</p>
    <p> {{address.city}}</p>
    <p> {{address.zip}}</p>
    <p> {{address.country}}</p>
</div>
<div class="buttons">
    <button class="btn btn-success m-5">Finalize Purchase</button>
    <button class="btn btn-warning m-5">Cancel Purchase</button>
</div>

  </div> 
  
</div>
    </div>
</div>



