.products-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.pageBar{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom:30px;
}

.pageNumber {
    border: 1px solid gray;
    padding: 3px 8px;
}

