.header{
    padding: 5px;
    text-align: center;
    font-size: 35px;
    font-weight: 800;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.products-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.pageBar{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom:30px;
}

.pageNumber {
    border: 1px solid gray;
    padding: 3px 8px;
}

