<div class="container">
    <div class="row">
        
       <div>
            <h1>Add New Product To Database:</h1>
            <form #formRef="ngForm" (ngSubmit)="submitUpdate(formRef)" action="">
                <label for="">Product Name:</label>
                <input type="text" name="pname" id=""  ngModel>
                <label for="">Description:</label>
                <input type="text" name="description" id="" ngModel>
                <label for="">Price:</label>
                <input type="number" name="price" id="" ngModel>
                <label for="">Image:</label>
                <input type="text" name="pimage" id="" ngModel>
                
                <input type="submit" class="btn btn-success">
                <button class="btn btn-secondary" routerLink="/dashboard/admin/productControl">Back To Items List</button>
            </form>
            <p>{{message.msg}}</p>
        </div> 
    

        
    </div>
</div>


