<div class="container">
    <div class="d-flex justify-content-center">
   
        
       <div class="col-md-6 col-sm-12 col-xs-12 mt-3">
            <h1>Add New Product To Database:</h1>
            <form #formRef="ngForm" (ngSubmit)="submit(formRef)" action="">
                <label class="form-label" for="">Product Name:</label>
                <input class="form-control" type="text" name="pname" id=""  ngModel>
                <label class="form-label" for="">Description:</label>
                <textarea class="form-control" name="description" id="" cols="30" rows="6" ngModel></textarea>
                <label class="form-label" for="">Price:</label>
                <input class="form-control" type="number" name="price" id="" ngModel>
                <label class="form-label" for="">Image:</label>
                <input class="form-control" type="text" name="pimage" [(ngModel)]="placeholderImage" id="" ngModel>
                
                <input type="submit" class="btn btn-success">
                <button class="btn btn-secondary" routerLink="/dashboard/admin/productControl">Back To Items List</button>
            </form>
            <p>{{message.msg}}</p>
        </div> 
    

        

</div>

</div>


