<div class="container mt-5 cart-detail">
<h2 class="header">Cart Details:</h2>

<h5 class="header">Your Cart Total Is:  {{total |  currency: 'EUR':true}}</h5>


<ng-template [ngIf]="address" [ngIfElse]="form">
    
    <div class="mt-5">
        <h6 class="header">Delivery Address:</h6>
        <p><b class="mt-3 m5-3">{{address.fullName}}</b></p>
      <p>{{address.street}}</p>
      <p>{{address.city}}</p>
      <p>{{address.zip}}</p>
      <p>{{address.country}}</p>
      <a (click)="payment()" class="btn btn-success">Confirm Purchase</a>
      <button class="btn btn-warning" (click)="changeAddress()">Change Address</button>
    </div>
  </ng-template>
  
  <ng-template #form>
    <div>
      Please Fill form for delivery Address!

      <form action="" [formGroup]="addressRef" (ngSubmit)="submitForm()" class="mt-5">
        <label for="fillName" class="form-label">Full Name</label>
        <input type="text" id="fullName" class="form-control" formControlName="fullName">
          <label for="street" class="form-label">Street Name</label>
          <input type="text" id="street" class="form-control" formControlName="street">
          <label for="city" class="form-label">City</label>
          <input type="text" id="city" class="form-control" formControlName="city"> 
          <label for="zip" class="form-label">Zip Code</label>
          <input type="text" id="zip" class="form-control"  formControlName="zip">
          <label for="country" class="form-label">Country</label>
          <input type="text" id="country" class="form-control" formControlName="country">

          <button class="btn btn-success m-1" type="submit">Send</button>
          <button class="btn btn-warning m-1" type="reset">Clear Form</button>
      </form>
    </div>
  </ng-template>