

<div *ngIf="product"  class="product-card card">
    <div class="image-container">
       <img [src]="product.pimage" alt="" class="product-image"> 
    </div>
    
    <div class="card-main">
        <h4>{{product.pname}}</h4>
        <p>{{product.description}}</p>
        <h5>Price:</h5>
        <h6>${{product.price}}</h6>
        
        <div class="col-12 mt-3 mb-3">
            <label class="col-10" style="width: 40%;">
                Quantity:
            </label>
         <input class="col-2" type="number" [(ngModel)]="quantity">   
        </div>
        
        <div class="product-btn">
            <button class="btn btn-primary" (click)="addItemToCart(product)" [disabled]="quantity < 1">Cart</button>
            <button class="btn btn-warning" (click)="addItemToWishList(product)">Want List</button>    
        </div>
    </div>
   <div class="product-price" *ngIf="product.offer">
    Offer
</div> 


 
</div> 

 
