.image-container{
    height: 45%
}

.product-image {
    width: 100%;
    height: 100%;
}



.product-card{
    position: relative;
    height:500px;
    width: 18vw;
    margin-top:8px;
    box-sizing: border-box;
    display: inline-block;
}

@media screen and (max-width: 1370px) {
    .product-card{
        width: 20vw;
    }
}

@media screen and (max-width: 1200px) {
    .product-card{
        width: 30vw;
    }
}

@media screen and (max-width: 880px) {
    .product-card{
        width: 35vw;
    }
}

@media screen and (max-width: 750px) {
    .product-card{
        width: 50vw;
    }
}

@media screen and (max-width: 450px) {
    .product-card{
        width: 100vw;
        margin: 0;
    }
}

.product-price {
    position: absolute;
    top: 5px;
    right:5px;
    background-color: red;
    padding: 3px;
    border-radius: 5px;
    font-weight: 500;
    color: white;
    margin: auto
}

.card-main{
    padding: 0 10px 5px 10px;
    height:55%;
}

.product-btn{
    text-align: center;
    
}

.btn:first-child{
    margin-right: 5px;

}

.btn{
    width: 48%;
}

.align-bottom{
    width: 95%;
    position: absolute;
    bottom: 5px;;
}