<div class="d-flex justify-content-center">
    
        <ng-template [ngIf]="!updated" [ngIfElse]="updatedTemplate">
       <div class="col-md-6 col-sm-12 col-xs-12 mt-3" *ngIf="product">
            <h1>Edit: {{product.pname}}</h1>
            <form class="" #formRef="ngForm" (ngSubmit)="submitUpdate(formRef)" action="">
                <label class="form-label" for="">Product Name:</label>
                <input class="form-control" type="text" name="pname" id="" [(ngModel)]="product.pname" ngModel>
                <label class="form-label" for="">Description:</label>
                <textarea class="form-control" name="description" id="" cols="30" rows="6" [(ngModel)]="product.description" ngModel></textarea>
                <label class="form-label" for="">Price:</label>
                <input class="form-control" type="number" name="price" id="" [(ngModel)]="product.price" ngModel>
                <label class="form-label" for="">Image:</label>
                <input  class="form-control"type="text" name="pimage" id="" [(ngModel)]="product.pimage" ngModel>
                
                <button type="submit" class="btn btn-success m-1" value="Update Product">Update Product</button>
                <button class="btn btn-secondary m-1" routerLink="/dashboard/admin/productControl">Back To Items List</button>
            </form>
        </div> </ng-template>
        <ng-template #updatedTemplate>
            <h2>UPDATED SUCCESFULY!!</h2>
            <button class="btn btn-secondary" routerLink="/dashboard/admin/productControl">Back To Items List</button>

        </ng-template>
  
</div>


