
<div class="container">
    <div class="row">
        <h2 class="m-4 header">Products You Like</h2>

        <p style="color:red">{{message}}</p>
        <div *ngIf="products">
            <div class="container-fluid">
                <div class="row">
                    <div *ngFor="let product of products">
                        <app-wish-list-card [product]="product" (delete)="deleteFromWishList($event)" (add)="addToCart($event)"></app-wish-list-card>
                                 
                    </div>
                </div>
                
        </div> 
    </div>
</div>
