.product-box{
    position: relative;
    border:1px solid black;
    border-radius: 5px;
    height: 400px;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

img{
    max-height:55%;;
}

.buttons{
    position: absolute;
    bottom: 5px;
    width: 100%
}